flask==2.3.3
flask-cors==4.0.0
montreal-forced-aligner==3.3.9
pypinyin==0.53.0
textgrid==1.5
pycantonese==3.3.0
sudachipy==0.6.8
sudachidict-core==20240409
jamo==0.4.1
soundfile==0.12.1
numpy==1.24.3
pyworld==0.3.4